<!DOCTYPE html>
<html lang="es">
  <head>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://colorlib.com/etc/lf/Login_v1/vendor/bootstrap/css/bootstrap.min.css"
      media="screen,projection"
    />
    <link
      rel="stylesheet"
      href="https://colorlib.com/etc/lf/Login_v1/vendor/css-hamburgers/hamburgers.min.css"
    />
    <link
      rel="stylesheet"
      href="https://colorlib.com/etc/lf/Login_v1/vendor/select2/select2.min.css"
    />
    <link
      rel="stylesheet"
      href="https://colorlib.com/etc/lf/Login_v1/css/util.css"
    />
    <link
      rel="stylesheet"
      href="https://colorlib.com/etc/lf/Login_v1/css/main.css"
    />
    <link
      rel="stylesheet"
      href="https://colorlib.com/etc/lf/Login_v1/vendor/animate/animate.css"
    />
    <meta charset="utf-8" />
    <title>CubeS | <%= titulo %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .input-field label {
        color: #fff;
      }
    </style>
  </head>

  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <div
            class="login100-pic js-tilt"
            style="margin-top: -92px;"
            data-tilt
          >
            <img src="images/logo.png" alt="IMG" />
          </div>
          <form class="login100-form validate-form" act>
            <span class="login100-form-title">
              Member Login
            </span>
            <div
              class="wrap-input100 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input
                class="input100"
                type="text"
                id="usuario"
                name="usuario"
                placeholder="username"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </span>
            </div>
            <div
              class="wrap-input100 validate-input"
              data-validate="Password is required"
            >
              <input
                class="input100"
                type="password"
                id="pass"
                name="pass"
                placeholder="Password"
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
            </div>
            <div class="container-login100-form-btn">
              <button class="login100-form-btn" type="submit" name="action">
                Login
              </button>
            </div>
            <div class="text-center p-t-12" id="extra"></div>
          </form>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/mio.js"></script>
    <script
      type="text/javascript"
      src="https://colorlib.com/etc/lf/Login_v1/vendor/jquery/jquery-3.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://colorlib.com/etc/lf/Login_v1/vendor/bootstrap/js/popper.js"
    ></script>
    <script
      type="text/javascript"
      src="https://colorlib.com/etc/lf/Login_v1/vendor/bootstrap/js/bootstrap.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://colorlib.com/etc/lf/Login_v1/vendor/select2/select2.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://colorlib.com/etc/lf/Login_v1/vendor/tilt/tilt.jquery.min.js"
    ></script>
  </body>
</html>
